<div id="<%= dom_id message %>">
  <div class="message-container">
    <div class="message-header">
      <strong>To:</strong>
      <%= message.to_number %> | 
      <strong>Status:</strong>
      <% if message.status == 'delivered'%>
        <span class='success-check'>✓</span>
      <% elsif message.status == 'failed'%>
        <span class='failed-check'>✗</span>
      <% elsif message.status == 'invalid'%>
        <span class='invalid-check'>⚠</span>
      <% end %> |
      <%= link_to "View details", message, class: 'show-message-link'%>
    </div>
    <div class="message-body">
      <%= message.message %>
    </div>
    <div class="message-details">
      <strong>Provider:</strong>
      <%= message.provider %>
      <br>
      <strong>Created at:</strong>
      <%= message.created_at %>
    </div>
  </div>
</div>
